<template>
  <div id="list">
    <li class="list__item">
      <div class="list__name">{{ this.name }}</div>
      <div class="list__btns">
        <button
          v-show="!showDesc"
          @click="showDesc = !showDesc"
          class="list__btn"
        >
          <font-awesome-icon icon="info-circle" size="lg" />
        </button>
        <button
          v-show="showDesc"
          @click="showDesc = !showDesc"
          class="list__btn"
        >
          <font-awesome-icon class="mr-2" icon="info" size="1x" />
        </button>
        <button class="list__btn" @click="openListEdit(listData)">
          <font-awesome-icon icon="pencil-alt" size="lg" />
        </button>
        <button class="list__btn" @click="openTasks(listData)">
          <font-awesome-icon icon="angle-right" size="lg" />
        </button>
      </div>
    </li>
    <div class="list__desc" v-show="showDesc">
      {{ listData.description }}
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    name: String,
    listData: Object
  },
  data() {
    return {
      showDesc: false
    }
  },
  methods: {
    ...mapActions(['toggleTasks', 'mutateList']),
    openTasks(listData) {
      this.mutateList(listData)
      this.toggleTasks({ name: this.name, listData: listData })
      this.$router.push('/user/tasks')
    },
    openListEdit(listData) {
      this.mutateList(listData)
      this.$router.push({ path: '/user/edit', query: { type: 'mutate' } })
    }
  }
}
</script>

<style scoped>
#list {
  @apply bg-grey-lightest border-b m-1 my-4 p-3;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
}

.list__name {
  @apply text-lg font-bold;
}

.list__item {
  @apply flex flex-row justify-between;
}

.list__desc {
  @apply mt-2 text-sm;
}

.list__btn {
  @apply mx-2;
}
</style>
