<template>
  <div id="menu">
    <button class="menu__item" @click="home">Home</button>
    <button class="menu__item" @click="archive">Task Archive</button>
    <button class="menu__item" @click="logout">Logout</button>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data() {
    return {
      slide: false
    }
  },
  computed: {
    ...mapState(['showMenu'])
  },
  watch: {
    showMenu(newValue) {
      if (newValue || !newValue) this.setSlide()
    }
  },
  methods: {
    ...mapActions(['userLogout', 'toggleMenu']),
    home() {
      this.toggleMenu()
      this.$router.push({ name: 'user' })
    },
    archive() {
      this.toggleMenu()
      this.$router.push({ name: 'archive' })
    },
    logout() {
      this.userLogout()
      this.$router.push({ name: 'home' })
    },
    setSlide() {
      let el = document.getElementById('menu')
      let el_content = document.getElementById('content')
      if (this.slide) {
        el.className = 'menu-slide-out'
        el_content.className = 'content-slide-out'
        this.slide = false
      } else {
        el_content.className = 'content-slide-in'
        el.className = 'menu-slide-in'
        this.slide = true
      }
    }
  }
}
</script>

<style>
.menu__item {
  @apply max-w-full p-3;
  @apply my-2 font-bold text-black text-3xl text-center;
}

.menu__item:hover {
  @apply bg-teal text-grey-lightest font-extrabold;
}

#content {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.content-slide-in {
  animation-duration: 1s;
  animation-name: content-slidein;
  animation-fill-mode: forwards;
}
@keyframes content-slidein {
  from {
    left: 0vw;
  }

  to {
    left: 88vw;
  }
}

.content-slide-out {
  animation-duration: 1s;
  animation-name: content-slideout;
  animation-fill-mode: forwards;
}

@keyframes content-slideout {
  from {
    left: 88vw;
  }
  to {
    left: 0vw;
  }
}
#menu {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  left: -100vw;
  height: 100vh;
  width: 95vw;
  background-color: #f1f5f8;
  padding-top: 10%;
}

.menu-slide-in {
  width: 100vw;
  animation-duration: 1s;
  animation-name: menu-slidein;
  animation-fill-mode: forwards;
}
@keyframes menu-slidein {
  0% {
    left: -100vw;
  }

  50% {
    box-shadow: 0.5px 0.5px 5px #8795a1;
    opacity: 0.8;
  }
  100% {
    left: -15vw;
    box-shadow: 0px 0px 100px #8795a1;
    opacity: 1;
  }
}
.menu-slide-out {
  animation-duration: 1s;
  animation-name: menu-slideout;
  animation-fill-mode: forwards;
}
@keyframes menu-slideout {
  0% {
    left: -15vw;
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    left: -100vw;
  }
}
</style>
