<template>
  <div id="nav" v-if="type === 'default'">
    <div class="home">
      <router-link class="home__desc" to="/">
        <img src="../assets/logo.svg" class="nav__logo" />
        <span>Today's Mood</span>
      </router-link>
    </div>
  </div>
  <div id="nav" v-else-if="type === 'user'">
    <font-awesome-icon
      icon="bars"
      @click="toggleMenu"
      v-show="!showMenu"
      size="2x"
    />
    <font-awesome-icon
      icon="times"
      @click="toggleMenu"
      v-show="showMenu"
      size="2x"
    />
    <font-awesome-icon icon="user" size="2x" />
  </div>
  <div id="nav" class="tasks__nav" v-else-if="type === 'tasks'">
    <button @click="toggleTasks({ name: '', listData: {} })">
      <font-awesome-icon icon="angle-left" size="2x" />
    </button>
    <div class="tasks__title">{{ list.listName }}</div>
    <button @click="filterTasks">
      <font-awesome-icon icon="filter" size="2x" />
    </button>
  </div>
  <div id="nav" v-else-if="type === 'edit'">
    <button @click="$router.go(-1)">
      <font-awesome-icon icon="angle-left" size="2x" />
    </button>
    <span></span>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  props: {
    type: {
      type: String,
      default: 'default'
    },
    isHome: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState(['list', 'showMenu'])
  },
  methods: {
    ...mapActions(['toggleTasks', 'toggleMenu', 'filterTasks'])
  }
}
</script>

<style scoped>
#nav {
  @apply fixed pin-x pin-t;
  @apply flex flex-row justify-between;
  @apply p-4 bg-teal;
  z-index: 100;
}

#btns {
  @apply flex items-center;
}

.nav__logo {
  @apply mr-1;
  height: 4vh;
}

.home > a {
  @apply font-extrabold text-black no-underline;
}

.home__desc {
  @apply flex items-center;
}

.login {
  @apply text-black no-underline;
}

.signup {
  @apply font-extrabold text-blue-dark no-underline;
  @apply ml-2;
}

.tasks__nav {
  @apply items-center;
}

.tasks__title {
  @apply text-center text-2xl;
}
</style>
