<template>
  <div id="task" :class="taskColor">
    <li class="task__item">
      <div class="task__name">{{ name }}</div>
      <div class="task__btns">
        <button
          v-show="!showDesc"
          @click="showDesc = !showDesc"
          class="task__btn"
        >
          <font-awesome-icon icon="info-circle" size="lg" />
        </button>
        <button
          v-show="showDesc"
          @click="showDesc = !showDesc"
          class="task__btn"
        >
          <font-awesome-icon class="mr-2" icon="info" size="1x" />
        </button>
        <button
          v-show="!inArchive"
          class="task__btn"
          @click="openTaskEditMode(taskData)"
        >
          <font-awesome-icon icon="pencil-alt" size="lg" />
        </button>
        <button
          v-show="inArchive"
          class="task__btn"
          @click="restoreTask(taskData)"
        >
          <font-awesome-icon icon="undo-alt" size="lg" />
        </button>
      </div>
    </li>
    <div class="task__desc" v-show="showDesc">
      {{ taskData.description }}
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    name: String,
    taskData: Object,
    inArchive: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showDesc: false
    }
  },
  computed: {
    taskColor() {
      if (this.inArchive) return 'bg-grey-lighter'
      else if (this.taskData.priority <= 4) return 'bg-blue-lighter'
      else if (this.taskData.priority > 4 && this.taskData.priority <= 7)
        return 'bg-yellow-lighter'
      else return 'bg-red-lighter'
    }
  },
  methods: {
    ...mapActions(['mutateTask', 'removeCompletedTask']),
    openTaskEditMode(taskData) {
      this.mutateTask(taskData)
      this.$router.push({ path: '/user/tasks/edit', query: { type: 'mutate' } })
    },
    restoreTask(taskData) {
      this.$swal({
        title: 'Restore this task?',
        buttons: true
      }).then(opt => {
        if (opt) {
          this.removeCompletedTask(taskData.id)

          this.$swal('Your task has been restored!', {
            icon: 'success'
          })
        }
      })
    }
  }
}
</script>

<style>
#task {
  @apply border-b rounded m-1 my-4 p-3;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
}

.task__name {
  @apply text-lg font-bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task__item {
  @apply flex flex-row justify-between;
}

.task__desc {
  @apply mt-2 text-sm;
}

.task__btn {
  @apply mx-2;
}

.task__btns {
  white-space: nowrap;
}
</style>
