This email was sent because it was request to reset the password.
If you request this, please click on the link below and you will be redirected
to a page to change your password.

<%=  link_to "reset", "#{Rails.application.config.frontend}/reset/#{@user.reset_password_token}"%>
