<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Today's Mood, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Today's Mood,
      your username is: <%= @user.email %>.<br>
      Please <%=  link_to "confirm your registration", api_v1_confirm_email_url(@user.confirm_token, host: Rails.application.config.host)%>.
    </p>
    <p>
      If you already confirmed you registration, you <%= link_to "can now login", "#{Rails.application.config.frontend}/login" %>.
    </p>
    <p>
      Thanks for joining,<br>
      Today's Mood Team
    </p>
  </body>
</html>
