Welcome to Today's Mood <%= @user.name %>
===============================================

You have successfully signed up to Today's Mood, your email
is: <%= @user.email %>.

Thanks for registering! To confirm your registration click the URL
below.
<%= api_v1_confirm_email_url(@user.confirm_token, host: Rails.application.config.host) %>

If you already confirmed you registration, you can now login:
<%= "#{Rails.application.config.host}/login" %>.

Thanks for joining and have a great day!
