<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

* {
  font-family: 'Montserrat';
}

#app {
  @apply overflow-x-hidden scrolling-touch;
  @apply min-h-screen flex flex-col pt-16;
  @apply bg-grey-lightest;
}

.card {
  @apply self-center;
  @apply shadow-md rounded flex flex-col justify-center;
  @apply bg-grey-lightest m-4 px-4 py-6;
}

.form__title {
  @apply font-extrabold text-2xl text-center mb-6;
}

.input {
  @apply border-b border-grey-dark mt-1 p-2 text-xl;
  @apply bg-grey-lightest;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.input:focus:not(.error) {
  @apply border-green-light;
}

.input__label {
  @apply font-bold mt-4;
}

.btn {
  @apply w-full text-center py-2 mt-10 text-xl;
  @apply border border-black rounded bg-grey-lightest;
}

.btn__delete {
  @apply mt-1 bg-red-light text-grey-lightest font-bold;
}

.btn:hover:not(.btn__delete) {
  @apply bg-teal text-grey-lightest font-bold;
}

a {
  @apply font-extrabold text-teal-dark no-underline;
}

.error {
  @apply border-b border-red;
}

.error__message {
  @apply mt-2 text-sm text-red;
}
</style>
