<template>
  <div id="home">
    <navbar />
    <img class="home__logo" src="../assets/logoname.svg" />
    <p class="home__text">
      Sign up and start making your day better and more productive!
    </p>
    <button class="home__btn --signup" @click="$router.push('/signup')">
      SIGN UP
    </button>
    <p class="home__text --sm">Already have an account?</p>
    <button class="home__btn --login" @click="$router.push('/login')">
      LOG IN
    </button>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  name: 'home',
  components: {
    Navbar
  }
}
</script>

<style>
#home {
  @apply bg-white flex flex-col justify-between;
}

.home__logo {
  @apply my-10;
}

.home__btn {
  @apply rounded-lg p-4 mx-6 mb-10 mt-4 font-extrabold;
}

.home__text {
  @apply text-teal-darker mx-6 text-center text-lg;
}

.--sm {
  @apply text-xs;
}

.--signup {
  @apply bg-teal-darker text-white;
}

.--login {
  @apply bg-teal-lighter mt-2;
}
</style>
