<template>
  <div id="list-edit">
    <navbar :type="'edit'" />
    <div class="card">
      <p class="form__title">
        {{ type === 'create' ? 'Create a new list!' : 'Edit your list!' }}
      </p>
      <p class="input__label">Name</p>
      <input
        v-model.trim="listInfo.title"
        class="input"
        :class="{ error: $v.listInfo.title.$error }"
        type="text"
        name="name"
        placeholder="Name"
        @blur="$v.listInfo.title.$touch()"
      />
      <template v-if="$v.listInfo.title.$error">
        <p v-if="!$v.listInfo.title.required" class="error__message">
          Title is required.
        </p>
        <p v-if="!$v.listInfo.title.minLength" class="error__message">
          Title must have at least
          {{ $v.listInfo.title.$params.minLength.min }} letters.
        </p>
        <p v-if="!$v.listInfo.title.maxLength" class="error__message">
          Title must have at most
          {{ $v.listInfo.title.$params.maxLength.max }} letters.
        </p>
      </template>
      <p class="input__label">Description</p>
      <textarea
        v-model="listInfo.description"
        class="input"
        name="description"
        placeholder="Description"
      />
      <button class="btn" @click="saveChanges">
        Save
      </button>
      <button
        v-if="type === 'mutate'"
        class="btn btn__delete"
        @click="deleteList"
      >
        Delete
      </button>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import userService from '@/services/userService.js'
import { mapState, mapActions } from 'vuex'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
  components: {
    Navbar
  },
  data() {
    return {
      type: this.$route.query.type,
      listInfo: {
        title: '',
        description: ''
      }
    }
  },
  validations: {
    listInfo: {
      title: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(15)
      }
    }
  },
  computed: {
    ...mapState(['list'])
  },
  created() {
    this.listInfo = {
      title: this.type === 'mutate' ? this.list.listData.title : '',
      description: this.type === 'mutate' ? this.list.listData.description : ''
    }
  },
  methods: {
    ...mapActions(['mutateList']),
    async saveChanges() {
      if (!this.$v.$anyError && this.listInfo.title !== '') {
        if (this.type === 'mutate') {
          const x = await userService.mutateList(
            this.list.listData.id,
            this.listInfo
          )
          let listObject = this.list.listData

          listObject = {
            title: this.listInfo.title,
            description: this.listInfo.description
          }

          this.mutateList(listObject)

          if (x.status === 200) this.$router.go(-1)
        } else if (this.type === 'create') {
          const x = await userService.createList(this.listInfo)

          if (x.status === 200) this.$router.go(-1)
        }
      } else {
        this.$v.listInfo.title.$touch()
        this.$swal({
          text: 'Please fill out the field(s) correctly.',
          icon: 'warning'
        })
      }
    },
    deleteList() {
      this.$swal({
        title: 'Are you sure?',
        text:
          'Once deleted, you will not be able to recover this list and the tasks from it.',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(opt => {
        if (opt) {
          userService.deleteList(this.list.listData.id).then(res => {
            if (res.status === 200) {
              this.$swal('Your task has been deleted!', {
                icon: 'success'
              })
              this.$router.go(-1)
            } else {
              this.$swal({
                title: 'Something bad happened',
                icon: 'error'
              })
            }
          })
        }
      })
    }
  }
}
</script>

<style scoped></style>
