<template>
  <div id="login">
    <navbar />
    <div class="card">
      <p class="form__title">Sign in to Today's Mood!</p>
      <p class="input__label">E-mail</p>
      <input
        v-model.trim="user.email"
        class="input"
        :class="{ error: $v.user.email.$error }"
        type="text"
        name="email"
        placeholder="E-mail"
        @blur="$v.user.email.$touch()"
      />
      <template v-if="$v.user.email.$error">
        <p v-if="!$v.user.email.required" class="error__message">
          E-mail is required.
        </p>
      </template>
      <p class="input__label">Password</p>
      <input
        v-model="user.password"
        class="input"
        :class="{ error: $v.user.password.$error }"
        type="password"
        name="password"
        placeholder="Password"
        @blur="$v.user.password.$touch()"
      />
      <template v-if="$v.user.password.$error">
        <p v-if="!$v.user.password.required" class="error__message">
          Password is required.
        </p>
      </template>
      <button class="btn" @click="login">Sign in</button>
      <div class="login__opts login--text">
        <div class="flex">
          <input
            type="checkbox"
            id="rememberMe"
            name="rememberMe"
            v-model="remember"
          />
          <label class="self-center" for="rememberMe"> Remember Me</label>
        </div>
        <router-link class="self-center" to="/password/reset"
          >Forgot password?</router-link
        >
      </div>
      <div class="line"></div>
      <p class="login__signin login--text">
        Don't you have an account?
        <router-link class="signup" to="/signup">Sign up</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import { mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import loginService from '@/services/loginService.js'

export default {
  components: {
    Navbar
  },
  data() {
    return {
      user: {
        email: this.$store.state.user.email,
        password: ''
      },
      remember: localStorage.getItem('email') ? true : false
    }
  },
  validations: {
    user: {
      email: {
        required
      },
      password: {
        required
      }
    }
  },
  methods: {
    ...mapActions({
      userLogin: 'userLogin'
    }),
    login() {
      if (
        !this.$v.$anyError &&
        this.user.email !== '' &&
        this.user.password !== ''
      ) {
        loginService
          .login(this.user)
          .then(resp => {

            if (resp.data.access_token === null) {
              // access_token === null and status === 200, invalid pwd
              let text = 'Invalid password'

              this.$swal({
                title: 'Something bad happened',
                text,
                icon: 'error'
              })
            }


            else if (resp.status === 200) {
              localStorage.setItem('user_id', resp.data.user_id)
              localStorage.setItem('token', resp.data.access_token)
              this.userLogin()
              this.isToRemember()
              this.$router.push({
                name: 'user'
              })
            }
          })
          .catch(e => {
            this.$swal({
              title: 'Something bad happened',
              text: e.response.data.error,
              icon: 'error'
            })
          })
      } else {
        this.$v.user.email.$touch()
        this.$v.user.password.$touch()
        this.$swal({
          text: 'Please fill out the required field(s).',
          icon: 'warning'
        })
      }
    },

    isToRemember() {
      if (this.remember) localStorage.setItem('email', this.user.email)
      else if (localStorage.getItem('email') !== undefined)
        localStorage.removeItem('email')
    }
  },

  mounted() {
    this.user.email = localStorage.getItem('email') || ''
  }
}
</script>

<style scoped>
.login__opts {
  @apply mt-8 mb-1 flex justify-between;
}

.login__opts > a {
  @apply self-end;
}

.login--text {
  @apply text-xs text-grey-dark;
}

.login__signin {
  @apply mt-4 text-center;
}

.line {
  @apply w-full mt-2 border border-grey-dark border-b-0;
}
</style>
