<template>
  <div id="notfound">
    <div class="card">
      <p class="notfound--title">Oops!</p>
      <p class="notfound--info">
        The page you're looking for is not here.
      </p>
      <router-link class="notfound--link" :to="{ name: 'home' }"
        >Back to the home page</router-link
      >
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
#notfound {
  @apply text-center;
}

.notfound--title {
  @apply text-5xl;
}

.notfound--info {
  @apply text-2xl;
}

.notfound--link {
  @apply mt-6;
}
</style>
