<template>
  <div id="pwdreset">
    <navbar />
    <div class="card">
      <p class="form__title">Forgot your password?</p>
      <p class="pwdreset__info">
        We'll email you instructions on how to reset it.
      </p>
      <input
        v-model.trim="user.email"
        class="input"
        :class="{ error: $v.user.email.$error }"
        type="text"
        name="email"
        placeholder="E-mail"
        @blur="$v.user.email.$touch()"
      />
      <template v-if="$v.user.email.$error">
        <p v-if="!$v.user.email.required" class="error__message">
          E-mail is required.
        </p>
      </template>
      <button class="btn" @click="sendEmail">
        E-mail instructions!
      </button>
      <div class="flex justify-center">
        <router-link class="pwdreset--text" to="/login">Cancel</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import { required } from 'vuelidate/lib/validators'
import userService from '@/services/userService.js'

export default {
  components: {
    Navbar
  },
  data() {
    return {
      user: {
        email: ''
      }
    }
  },
  validations: {
    user: {
      email: {
        required
      }
    }
  },
  methods: {
    async sendEmail() {
      if (!this.$v.$anyError && this.user.email !== '') {
        try {
          const resp = await userService.forgotPassword(this.user.email)

          if (resp.status !== 200) {
            this.$swal({
              title: 'Something bad happened',
              icon: 'error'
            })
          } else {
            this.$swal('E-mail sent! Please, check your inbox!', {
              icon: 'success'
            })
            this.$router.push({
              name: 'login'
            })
          }
        } catch {
          this.$swal({
            title: 'Something bad happened',
            icon: 'error'
          })
        }
      } else {
        this.$v.user.email.$touch()
        this.$swal({
          text: 'Please fill out the required field(s).',
          icon: 'warning'
        })
      }
    }
  }
}
</script>

<style scoped>
.pwdreset__info {
  @apply text-center mb-6;
}

.pwdreset__opts {
  @apply mt-2 mb-1 flex justify-between;
}

.pwdreset--text {
  @apply mt-3 text-sm text-center;
}
</style>
