<template>
  <div id="login">
    <navbar />
    <div class="card">
      <p class="form__title">Reset your password</p>
      <p class="input__label">New Password</p>
      <input
        v-model="user.password"
        class="input"
        :class="{ error: $v.user.password.$error }"
        type="password"
        name="password"
        placeholder="Password"
        @blur="$v.user.password.$touch()"
      />
      <template v-if="$v.user.password.$error">
        <p v-if="!$v.user.password.required" class="error__message">
          This field is required.
        </p>
        <p v-if="!$v.user.password.minLength" class="error__message">
          Password must have at least
          {{ $v.user.password.$params.minLength.min }} letters.
        </p>
      </template>
      <p class="input__label">Confirm Password</p>
      <input
        v-model="user.passwordConfirm"
        class="input"
        :class="{ error: $v.user.passwordConfirm.$error }"
        type="password"
        name="password"
        placeholder="Password Confirm"
        @blur="$v.user.passwordConfirm.$touch()"
      />
      <template v-if="$v.user.passwordConfirm.$error">
        <p v-if="!$v.user.passwordConfirm.required" class="error__message">
          This field is required.
        </p>
      </template>
      <button class="btn" @click="changePassword">Reset</button>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import { required, minLength } from 'vuelidate/lib/validators'
import userService from '@/services/userService.js'

export default {
  components: {
    Navbar
  },
  data() {
    return {
      user: {
        password: '',
        passwordConfirm: ''
      }
    }
  },
  validations: {
    user: {
      password: {
        required,
        minLength: minLength(8)
      },
      passwordConfirm: {
        required
      }
    }
  },
  methods: {
    async changePassword() {
      if (
        !this.$v.$anyError &&
        this.user.password !== '' &&
        this.user.passwordConfirm !== '' &&
        this.user.password === this.user.passwordConfirm
      ) {
        const resp = await userService.resetPassword(
          this.user.password,
          this.$route.params.id
        )

        if (resp.status !== 200) {
          this.$swal({
            title: 'Something bad happened',
            icon: 'error'
          })
        } else {
          this.$swal('Password has been changed!', {
            icon: 'success'
          })
          this.$router.push({
            name: 'login'
          })
        }
      } else if (this.user.password !== this.user.passwordConfirm) {
        this.$swal({
          text: 'Both passwords must be equal.',
          icon: 'warning'
        })
      } else {
        this.$v.user.password.$touch()
        this.$v.user.passwordConfirm.$touch()
        this.$swal({
          text: 'Please fill out the required field(s).',
          icon: 'warning'
        })
      }
    },

    isToRemember() {
      if (this.remember) localStorage.setItem('email', this.user.email)
      else if (localStorage.getItem('email') !== undefined)
        localStorage.removeItem('email')
    }
  },

  mounted() {
    this.user.email = localStorage.getItem('email') || ''
  }
}
</script>

<style scoped></style>
