<template>
  <div id="signup">
    <navbar />
    <div class="card">
      <p class="form__title">Welcome to Today's Mood!</p>
      <p class="input__label">Name</p>
      <input
        @keyup="holdInfo"
        v-model.trim="user.name"
        class="input"
        :class="{ error: $v.user.name.$error }"
        type="text"
        name="name"
        placeholder="Name"
        @blur="$v.user.name.$touch()"
      />
      <template v-if="$v.user.name.$error">
        <p v-if="!$v.user.name.required" class="error__message">
          Name is required.
        </p>
        <p v-if="!$v.user.name.minLength" class="error__message">
          Name must have at least
          {{ $v.user.name.$params.minLength.min }} letters.
        </p>
      </template>
      <p class="input__label">E-mail</p>
      <input
        @keyup="holdInfo"
        v-model.trim="user.email"
        class="input"
        :class="{ error: $v.user.email.$error }"
        type="text"
        name="email"
        placeholder="E-mail"
        @blur="$v.user.email.$touch()"
      />
      <template v-if="$v.user.email.$error">
        <p v-if="!$v.user.email.required" class="error__message">
          E-mail is required.
        </p>
        <p v-if="!$v.user.email.email" class="error__message">
          E-mail must be valid.
        </p>
      </template>
      <p class="input__label">Password</p>
      <input
        v-model="user.password"
        class="input"
        :class="{ error: $v.user.password.$error }"
        type="password"
        name="password"
        placeholder="Password"
        @blur="$v.user.password.$touch()"
      />
      <template v-if="$v.user.password.$error">
        <p v-if="!$v.user.password.required" class="error__message">
          Password is required.
        </p>
        <p v-if="!$v.user.password.minLength" class="error__message">
          Password must have at least
          {{ $v.user.password.$params.minLength.min }} letters.
        </p>
      </template>
      <button class="btn" @click="signUp">Sign up</button>
      <div class="signup__opts signup--text">
        <p>
          By signing up, you agree to Today's Mood
          <router-link to="/terms">terms of service</router-link>
        </p>
      </div>
      <div class="line"></div>
      <p class="signup__signin signup--text">
        Already have an account?
        <router-link to="/login">Sign in</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import { mapActions } from 'vuex'
import { required, minLength, email } from 'vuelidate/lib/validators'

export default {
  components: {
    Navbar
  },
  data() {
    return {
      user: {
        name: '',
        email: '',
        password: ''
      }
    }
  },
  validations: {
    user: {
      name: {
        required,
        minLength: minLength(4)
      },
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      }
    }
  },
  methods: {
    ...mapActions({
      createUser: 'createUser'
    }),
    signUp() {
      if (
        !this.$v.$anyError &&
        this.user.name !== '' &&
        this.user.email !== '' &&
        this.user.password !== ''
      ) {
        localStorage.removeItem('signup_info')
        this.createUser(this.user)
          .then(() => {
            this.$swal({
              title: 'You sucessfully signed up!',
              text: 'Please, confirm your e-mail',
              icon: 'success'
            })
            this.$router.push({
              name: 'login'
            })
          })
          .catch(() => {
            this.$swal({
              title: 'Something bad happened',
              text: 'Try again later!',
              icon: 'error'
            })
          })
      } else {
        this.$v.user.name.$touch()
        this.$v.user.email.$touch()
        this.$v.user.password.$touch()
        this.$swal({
          text: 'Please fill out the field(s) correctly.',
          icon: 'warning'
        })
      }
    },
    holdInfo() {
      let signup_info = {
        name: this.user.name,
        email: this.user.email,
        password: ''
      }

      localStorage.setItem('signup_info', JSON.stringify(signup_info))
      signup_info = JSON.parse(localStorage.getItem('signup_info'))
    }
  },

  mounted() {
    let info = JSON.parse(localStorage.getItem('signup_info'))
    this.user.name = (info && info.name) || ''
    this.user.email = (info && info.email) || ''
  }
}
</script>

<style scoped>
.signup__opts {
  @apply mt-8 mb-1;
}

.signup__opts > a {
  @apply self-end;
}

.signup--text {
  @apply text-xs text-grey-dark text-center;
}

.signup__signin {
  @apply mt-4;
}

.line {
  @apply w-full mt-2 border border-grey-dark border-b-0;
}
</style>
