<template>
  <div id="task-edit">
    <navbar :type="'edit'" />
    <div class="card">
      <p class="form__title">
        {{ type === 'create' ? 'Create a new task!' : 'Edit your task!' }}
      </p>
      <div class="task-edit__completed" v-if="type === 'mutate'">
        <button v-show="!taskInfo.completed" @click="toggleCompleted">
          <font-awesome-icon :icon="['far', 'circle']" size="2x" />
        </button>
        <button v-show="taskInfo.completed" @click="toggleCompleted">
          <font-awesome-icon :icon="['far', 'check-circle']" size="2x" />
        </button>
        <p class="task-edit__completed--label">Completed</p>
      </div>
      <p class="input__label">Name</p>
      <input
        v-model.trim="taskInfo.title"
        class="input"
        :class="{ error: $v.taskInfo.title.$error }"
        type="text"
        name="name"
        placeholder="Name"
        @blur="$v.taskInfo.title.$touch()"
      />
      <template v-if="$v.taskInfo.title.$error">
        <p v-if="!$v.taskInfo.title.required" class="error__message">
          Title is required.
        </p>
        <p v-if="!$v.taskInfo.title.minLength" class="error__message">
          Title must have at least
          {{ $v.taskInfo.title.$params.minLength.min }} letters.
        </p>
        <p v-if="!$v.taskInfo.title.maxLength" class="error__message">
          Title must have at most
          {{ $v.taskInfo.title.$params.maxLength.max }} letters.
        </p>
      </template>
      <p class="input__label">Description</p>
      <textarea
        v-model="taskInfo.description"
        class="input"
        name="description"
        placeholder="Description"
      />
      <p class="input__label">Estimated time</p>
      <datetime
        class="input"
        type="time"
        input-style="background-color: #F8FAFC;"
        value-zone="UTC-3"
        v-model="taskInfo.estimated_time"
      ></datetime>
      <p class="input__label">Due</p>
      <datetime
        class="input"
        type="datetime"
        input-style="background-color: #F8FAFC;"
        value-zone="UTC-3"
        v-model="taskInfo.due"
      ></datetime>
      <p class="input__label">Priority</p>
      <vue-slider
        class="task-edit__slider"
        v-bind="options"
        v-model="taskInfo.priority"
      />
      <button class="btn" @click="saveChanges">Save</button>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import userService from '@/services/userService.js'
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'
import { mapState, mapActions } from 'vuex'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'

let currentDatetime = new Date().toISOString()

export default {
  components: {
    Navbar,
    VueSlider
  },
  data() {
    return {
      type: this.$route.query.type,
      taskInfo: {
        title: '',
        description: '',
        estimated_time: '00:00:00',
        due: currentDatetime,
        priority: 0,
        completed: false
      },
      options: {
        dotSize: 20,
        max: 10,
        tooltipPlacement: 'bottom',
        marks: {
          '0': 0,
          '10': 10
        }
      }
    }
  },
  validations: {
    taskInfo: {
      title: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(100)
      }
    }
  },
  computed: {
    ...mapState(['list', 'task'])
  },
  created() {
    this.taskInfo = {
      title: this.type === 'mutate' ? this.task.title : '',
      description: this.type === 'mutate' ? this.task.description : '',
      estimated_time:
        this.type === 'mutate' ? this.task.estimated_time : '00:00:00',
      due:
        this.type === 'mutate'
          ? this.task.due.substring(0, 19)
          : currentDatetime,
      priority: this.type === 'mutate' ? this.task.priority : 0,
      completed: false
    }
  },
  methods: {
    ...mapActions(['mutateTask', 'mutateList']),
    async saveChanges() {
      if (!this.$v.$anyError && this.taskInfo.title !== '') {
        let taskObject = this.task
        let listObject = this.list.listData

        taskObject = {
          title: this.taskInfo.title,
          description: this.taskInfo.description,
          estimated_time: this.taskInfo.estimated_time.substring(11, 19),
          due: this.taskInfo.due.substring(0, 19),
          priority: this.taskInfo.priority,
          completed: this.taskInfo.completed
        }

        if (this.type === 'mutate') {
          const x = await userService.mutateTask(this.task.id, taskObject)

          taskObject.id = x.data.id
          listObject.tasks = listObject.tasks.filter(
            task => task.id !== taskObject.id
          )
          listObject.tasks.push(taskObject)
          listObject.tasks.sort((t1, t2) => t1.id - t2.id)

          if (x.status === 200) this.$router.go(-1)
        } else if (this.type === 'create') {
          const x = await userService.createTask(
            this.list.listData.id,
            taskObject
          )

          taskObject.id = x.data.id
          listObject.tasks.push(taskObject)

          if (x.status === 200) this.$router.go(-1)
        }

        this.mutateList(listObject)
        this.mutateTask(taskObject)
      } else {
        this.$v.taskInfo.title.$touch()
        this.$swal({
          text: 'Please fill out the field(s) correctly.',
          icon: 'warning'
        })
      }
    },
    toggleCompleted() {
      this.taskInfo.completed = !this.taskInfo.completed
    }
  }
}
</script>

<style scoped>
.task-edit__slider {
  @apply mx-2 mt-2 p-2 text-xl;
}

.task-edit__completed {
  @apply flex items-center my-3;
}

.task-edit__completed--label {
  @apply font-bold ml-2;
}
</style>
