<template>
  <div id="terms">
    <navbar type="edit" />
    <div class="card">
      <p class="terms__title">Terms & Conditions</p>
      <p class="terms__subtitle">Last updated: May 11, 2019</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sed risus ultricies
        tristique nulla aliquet enim. Nunc eget lorem dolor sed viverra. Et
        egestas quis ipsum suspendisse ultrices gravida dictum fusce. Bibendum
        est ultricies integer quis auctor. Libero justo laoreet sit amet cursus
        sit amet dictum. Ac turpis egestas integer eget aliquet nibh praesent
        tristique magna. Dui nunc mattis enim ut tellus elementum sagittis vitae
        et. Tortor id aliquet lectus proin nibh. Consequat interdum varius sit
        amet. Hac habitasse platea dictumst quisque. Et tortor at risus viverra
        adipiscing. Ut eu sem integer vitae justo eget. Sem integer vitae justo
        eget magna fermentum. Eget dolor morbi non arcu risus. Orci dapibus
        ultrices in iaculis nunc sed augue lacus. Nunc vel risus commodo viverra
        maecenas accumsan. Ac orci phasellus egestas tellus rutrum tellus
        pellentesque eu. Mi eget mauris pharetra et ultrices. Amet nisl purus in
        mollis nunc sed id semper. Sagittis vitae et leo duis ut diam. Velit ut
        tortor pretium viverra suspendisse potenti nullam. Laoreet id donec
        ultrices tincidunt arcu. Consectetur a erat nam at lectus urna duis
        convallis convallis. Suspendisse interdum consectetur libero id
        faucibus. Tellus pellentesque eu tincidunt tortor aliquam nulla. Urna
        molestie at elementum eu facilisis sed odio morbi quis. Facilisis sed
        odio morbi quis commodo odio. Pellentesque habitant morbi tristique
        senectus et. Pretium vulputate sapien nec sagittis. Egestas maecenas
        pharetra convallis posuere morbi leo urna. Imperdiet dui accumsan sit
        amet. Nibh sed pulvinar proin gravida hendrerit. Nec nam aliquam sem et.
        Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit.
        Eget nunc scelerisque viverra mauris. Dui sapien eget mi proin sed
        libero. Feugiat nisl pretium fusce id velit. Ut venenatis tellus in
        metus vulputate eu scelerisque felis. Ante in nibh mauris cursus mattis
        molestie. Urna duis convallis convallis tellus id interdum velit.
        Pretium quam vulputate dignissim suspendisse in est ante. Pretium
        vulputate sapien nec sagittis aliquam. Tellus rutrum tellus pellentesque
        eu tincidunt. Mauris ultrices eros in cursus turpis massa. Diam
        sollicitudin tempor id eu nisl. Laoreet suspendisse interdum consectetur
        libero id faucibus nisl tincidunt. Feugiat scelerisque varius morbi enim
        nunc faucibus a pellentesque. Est sit amet facilisis magna etiam tempor.
        In nibh mauris cursus mattis molestie. Ut sem viverra aliquet eget sit
        amet tellus cras adipiscing. Quis vel eros donec ac odio tempor orci
        dapibus. Ut placerat orci nulla pellentesque dignissim enim sit amet
        venenatis. Pellentesque dignissim enim sit amet. Fringilla est
        ullamcorper eget nulla facilisi etiam dignissim diam quis. Nisl
        tincidunt eget nullam non nisi. Vitae et leo duis ut. Mi tempus
        imperdiet nulla malesuada pellentesque elit eget gravida cum. Volutpat
        commodo sed egestas egestas fringilla phasellus faucibus scelerisque
        eleifend. At auctor urna nunc id cursus metus aliquam eleifend mi. Eget
        est lorem ipsum dolor sit amet. Nisi quis eleifend quam adipiscing vitae
        proin sagittis. Purus viverra accumsan in nisl nisi. Adipiscing elit ut
        aliquam purus. Elit ullamcorper dignissim cras tincidunt lobortis
        feugiat vivamus at augue. Nulla at volutpat diam ut venenatis tellus in
        metus. Proin nibh nisl condimentum id venenatis a condimentum.
      </p>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  components: {
    Navbar
  }
}
</script>

<style scoped>
.terms__title {
  @apply font-extrabold text-2xl text-center mb-2;
}

.terms__subtitle {
  @apply italic text-center mb-8;
}
</style>
