<template>
  <div id="lists">
    <menubar />
    <div id="content">
      <navbar :type="'user'" />
      <div class="card">
        <div v-if="lists.length === 0" class="form__title">
          Create a new list!
        </div>
        <div class="list">
          <ul class="list__itens">
            <list
              v-for="list in lists"
              :key="list.id"
              :name="
                list.title.toLowerCase().replace(/\b\w/g, l => l.toUpperCase())
              "
              :listData="list"
            />
          </ul>
        </div>
        <div class="list__add">
          <button
            @click="
              $router.push({ path: '/user/edit', query: { type: 'create' } })
            "
          >
            <font-awesome-icon icon="plus-circle" size="2x" />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Menubar from '@/components/Menu'
import List from '@/components/List'
import userService from '@/services/userService.js'
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      lists: {}
    }
  },
  components: {
    Navbar,
    Menubar,
    List
  },
  async created() {
    const { data } = await userService.getLists()
    let completedTasks = []

    data.forEach(list => {
      let tasks = list.tasks

      completedTasks.push(...tasks.filter(task => task.completed))
    })

    this.addCompletedTasks(completedTasks)
    this.lists = data.sort((l1, l2) => l1.id - l2.id)
  },
  methods: {
    ...mapActions(['addCompletedTasks'])
  }
}
</script>

<style scoped>
.list {
  @apply overflow-y-auto;
}

.list__itens {
  @apply list-reset;
}

.list__add {
  @apply mt-2 self-center;
}
</style>
