<template>
  <div id="lists">
    <menubar />
    <div id="content">
      <navbar :type="'user'" />
      <div class="card">
        <div class="list">
          <div class="form__title">
            Completed tasks!
          </div>
          <ul class="list__itens">
            <task
              v-for="task in completedTasks"
              :key="task.id"
              :name="
                task.title.toLowerCase().replace(/\b\w/g, l => l.toUpperCase())
              "
              :taskData="task"
              :inArchive="true"
            />
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Menubar from '@/components/Menu'
import Task from '@/components/Task'
import { mapState } from 'vuex'

export default {
  data() {
    return {
      lists: {}
    }
  },
  components: {
    Navbar,
    Menubar,
    Task
  },
  computed: {
    ...mapState(['completedTasks'])
  }
}
</script>

<style scoped>
.list {
  @apply overflow-y-auto;
}

.list__itens {
  @apply list-reset;
}

.list__add {
  @apply mt-2 self-center;
}
</style>
