<template>
  <div id="tasks">
    <navbar :type="'tasks'" />
    <div class="card">
      <div class="list">
        <div
          v-if="list.listData && list.listData.tasks.length === 0"
          class="form__title"
        >
          Create a new task!
        </div>
        <ul class="list__itens">
          <task
            v-for="task in notCompletedTasks"
            :key="task.id"
            :name="
              task.title.toLowerCase().replace(/\b\w/g, l => l.toUpperCase())
            "
            :taskData="task"
          />
        </ul>
      </div>
      <div class="list__add">
        <button
          @click="
            $router.push({
              path: '/user/tasks/edit',
              query: { type: 'create' }
            })
          "
        >
          <font-awesome-icon icon="plus-circle" size="2x" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Task from '@/components/Task'
import { mapState } from 'vuex'

export default {
  components: {
    Navbar,
    Task
  },
  computed: {
    ...mapState(['list']),
    notCompletedTasks() {
      if (this.list.listData) {
        let tasks = this.list.listData.tasks

        return tasks.filter(task => !task.completed)
      }

      return []
    }
  }
}
</script>

<style scoped>
.list {
  @apply overflow-y-auto;
}

.list__itens {
  @apply list-reset;
}

.list__add {
  @apply mt-2 self-center;
}
</style>
